<template>
  <div class="container">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  sticky-top">
    <div class="container-fluid">
     
      <a class="navbar-brand" href="#">Automatic card reader</a>
      <form class="d-flex">
        
        <a class="btn btn-outline-success" href="/logout">Log out</a>
      </form>
      
    </div>
  </nav>

 <div class="drop-zone">
     <span class="drop-zone__prompt">Drag or click to upload
     <div>
       <input class="drop-zone__input" type="file" id="file_upload" name="file_upload" accept="image/*">
     </div>
     </span>
  </div>
  <nuxt-link to="/pan" class="btn btn-success fixed-bottom">Next</nuxt-link> 

 </div> 

 
</template>

<script>
export default {

mounted () {
document.querySelector("#file_upload").addEventListener("change",function (){
        const reader = new FileReader();

        reader.addEventListener("load", ()=>{
          localStorage.setItem("recent-img",reader.result);
        });

        reader.readAsDataURL(this.files[0]);
      });
}

}



 
</script>

<style scoped>
 .container{
      
      height: 100vh;
     max-width: inherit;
     background: url('~assets/main-bg.jpg');
      }
    .drop-zone{
    max-width: 400px;
    height: 200px;
    padding: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    color: #646a7f;
    border: 4px dashed #000000;
    border-radius: 10px;
    margin: auto;
    margin-top: 350px;
    margin-left: auto;
}

.drop-zone:hover{
    border-style: solid;
  border-radius: 50px;
    transition: 0.1s;
}
.drop-zone__input {
  max-width: 300px;
  height: 150px;
}

.drop-zone__prompt{
    color: black;
    font-weight: bold;
}
</style>
