<template>
  <div class="container"  >
    <div class="row p-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Create an account or login</p>
        <nuxt-link to="/register" class="btn btn-primary btn-block mb-2">Register</nuxt-link>
        <nuxt-link to="/login" class="btn btn-secondary btn-block">Login</nuxt-link>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
  .container{
      
      height: 100vh;
     max-width: inherit;
     background: url('~assets/login-bg.jpg');
      }
</style>