<template>
<div class="container"> 
  <div class="row p-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1>
      
       
        <form action="/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <p class="lead mt-4">
          No Account? <nuxt-link to="/register">Register</nuxt-link>
        </p>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
  .container{
      
      height: 100vh;
     max-width: inherit;
     background: url('~assets/login-bg.jpg');
      }
</style>