<template>
  <div class="container">
    
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark  sticky-top">
    <div class="container-fluid">
     
      <a class="navbar-brand" href="#">Welcome</a>
      <form class="d-flex">
        
        <a class="btn btn-outline-success" id="header"></a>
      </form>
      
    </div>
  </nav>
     
    
    <v-card class="card mx-auto mt-5 bg-dark" style="width: 20rem;">
        <img id="imageurl-pan" src="" class="card-img-top" alt="...">
        <div class="card bg-dark">
          <h5 class="card-title m-2 btn-dark">Your information</h5>
          <div class="d-flex justify-content-center">
            <button id="spinner-pan" class="btn bg-primary" type="button" disabled>
              <span class="spinner-grow spinner-grow-sm text-dark" role="status" aria-hidden="true"></span>
              <span class="text-sucess">Loading...</span> 
            </button>
          </div>
          
        </div>
        <div class="m-2">
         
          <div id="pan">
            <div class="input-group mb-4">
              <span class="input-group-text" id="inputGroup-sizing-default" >Name</span>
              <input type="text" class="form-control" id="namesection-pan" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3" >
              <span class="input-group-text" id="inputGroup-sizing-default">D.O.B</span>
              <input type="text" class="form-control" id="dobsection-pan" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3" >
              <span class="input-group-text" id="inputGroup-sizing-default">Number</span>
              <input type="text" class="form-control" id="numsection-pan" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
        
          <div id="adhar">
            <div class="input-group mb-4">
              <span class="input-group-text" id="inputGroup-sizing-default" for="namead">Name</span>
              <input type="text" class="form-control" id="namesection" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3" >
              <span class="input-group-text" id="inputGroup-sizing-default" for="dobad">D.O.B</span>
              <input type="text" class="form-control" id="dobsection" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3" >
              <span class="input-group-text" id="inputGroup-sizing-default" for="genderad">Gender</span>
              <input type="text" class="form-control" id="gendersection" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3" >
              <span class="input-group-text" id="inputGroup-sizing-default" for="numad">Number</span>
              <input type="text" class="form-control" id="adhaarsection" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3" >
              <span class="input-group-text" id="inputGroup-sizing-default" for="addressad">Address</span>
              <input type="text" class="form-control" id="addsection" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
          
          
          <div id="passp">
            <div class="input-group mb-4">
              <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
              <input type="text" class="form-control" id="namesection-pass" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3" >
              <span class="input-group-text" id="inputGroup-sizing-default">D.O.B</span>
              <input type="text" class="form-control" id="dobsection-pass" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3" >
              <span class="input-group-text" id="inputGroup-sizing-default">Nationality</span>
              <input type="text" class="form-control" id="nationsection-pass" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3" >
              <span class="input-group-text" id="inputGroup-sizing-default">Place of brith</span>
              <input type="text" class="form-control" id="placeofbirtsec-pass" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3" >
              <span class="input-group-text" id="inputGroup-sizing-default">passport number</span>
              <input type="text" class="form-control" id="passnum-pass" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3" >
              <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
              <input type="text" class="form-control" id="addsection-pass" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
            
           
          <div class="card-body">
            <nuxt-link to="/display" class="btn btn-success">Go back</nuxt-link>
          </div>
        </div>
      </v-card>
      
  </div>
</template>

<script>
export default {

  
  
  

   mounted () {
      
    const exampleImage = localStorage.getItem("recent-img");
     const worker = Tesseract.createWorker({
      logger: m => console.log(m)
    });
    Tesseract.setLogging(true);
    work();

    async function work() {
      await worker.load();
      await worker.loadLanguage('eng');
      await worker.initialize('eng');

      let result = await worker.detect(exampleImage);
      console.log(result.data);
      let pan,pass,aadhar;

      result = await worker.recognize(exampleImage);
      console.log(result.data);
      document.getElementById('spinner-pan').style.display = 'none';
      const line1=result.data.words[10].text;
      const line2=result.data.words[16].text;
      const line3=result.data.words[25].text;
      const resultpan=result.data.words[7].text;
      const resultadhar=result.data.words[0].text;


      if (resultpan=="INCOMETAXDEPARTMENT") {
        document.getElementById("header").innerHTML = "pancard";
        document.getElementById('pan').style.display='block';
        pan=true;
        await worker.terminate();
      console.log(line1);
      result.then( document.getElementById('namesection-pan').value=line1,
      document.getElementById('dobsection-pan').value=line2,
      document.getElementById('numsection-pan').value=line3,);   
      }else if(resultadhar=="1/"){
        document.getElementById("header").innerHTML = "aadhar";
        document.getElementById('adhar').style.display='block';
        aadhar=true;
        const adhline1=result.data.lines[1].text;
      const adhline2=result.data.words[6].text;
      const adhline3=result.data.lines[4].text;
      const adhline4=result.data.lines[10].text;
      const adhline5=result.data.words[8].text;
        await worker.terminate();
      console.log(line1);
      result.then( document.getElementById('namesection').value=adhline1,
      document.getElementById('dobsection').value=adhline2,
      document.getElementById('gendersection').value=adhline5,
      document.getElementById('adhaarsection').value=adhline3,
      document.getElementById('addsection').value=adhline4);

      }else{
        document.getElementById("header").innerHTML = "passport";
        document.getElementById('passp').style.display='block';
        pass=true;
        const passline1=result.data.words[137].text;
      const passline2=result.data.words[153].text;
      const passline5=result.data.words[151].text;
      const passline3=result.data.lines[28].text;
      const passline4=result.data.words[136].text;
      const passline6=result.data.words[175].text; 
        await worker.terminate();
      console.log(line1);
      result.then( document.getElementById('namesection-pass').value=passline1,
      document.getElementById('dobsection-pass').value=passline2,
      document.getElementById('nationsection-pass').value=passline5,
      document.getElementById('placeofbirtsec-pass').value=passline3,
      document.getElementById('passnum-pass').value=passline4,
      document.getElementById('addsection-pass').value=passline6);
      }
     
     }
     },

    

     beforeMount () {
      document.addEventListener("DOMContentLoaded", ()=>{
        const recentDataUrl_pan=window.localStorage.getItem("recent-img");

        if(recentDataUrl_pan){
          document.querySelector("#imageurl-pan").setAttribute("src",recentDataUrl_pan);
        }
    });
  },

        

    
    }


   

</script>

<style>
.container{
      
      height: 100vh;
     max-width: inherit;
     background: url('~assets/sub-bg.jpg');
      }
     #pan{
          display: none;
        }
        #adhar{
          display: none;
        }
        #passp{
          display: none;
        }
</style>